@import '../../style/global.scss';

.header-box{
    height: 100px;
    border-bottom: solid 2px #333;
    .header{
        height: 100%;
        display: flex;
        align-items: center;
        .header-title{
            width: $left-box-width;
        }
        .header-nav{
            width: 300px;
            display: flex;
            justify-content: space-around;
            a{
                padding-bottom: 6px;
            }
            a.active{
                border-bottom: solid 2px #333;                
            }
        }
    }
}