@import '../../style/global.scss';

.home-right-box{
    width: $home-right-width;
    padding-left: 24px;
    .new-tip{
        textarea{
            resize: none;
            width: 100%;
            height: 200px;
            padding: 8px;
            font-size: 14px;
            line-height: 1.8;
            &:focus{
                outline: solid 2px #333;
            }
        }
        button{
            margin: 16px;
            width: 80px;
            height: 30px;
            font-size: 16px;
            background: #d1d7de;
            border: solid 2px #e8e9ea;
            cursor: pointer;
            &:focus{
                outline: solid 1px #333;
            }
        }
    }
    .list{
        background: #eee;
        margin-bottom: 20px;
        padding: 20px;
        p:nth-child(1){
            margin-bottom: 20px;
        }
    }
}