<aside class="app-left">
    <div class="title text-align-center font-size-22">
        <span>甫夸</span>
    </div>
    <div class="name">
        <div class="img text-align-center">
            <img src="../../../assets/img/bg.jpg" alt="">
        </div>
        <div class="desc text-align-center">
            <span>爱生活，爱足球</span>
        </div>
    </div>
    <div class="info display-flex">
        <div class="btn">
            <a class="text-align-center" href="https://github.com/fukua777">
                <img src="../../../assets/img/github.png" alt="">
            </a>
        </div>
        <div class="btn">
            <a class="text-align-center" href="mailto:fukua777666@163.com">
                <img src="../../../assets/img/mail.png" alt="">
            </a>
        </div>
    </div>
    <div class="link">
        <a href="http://blog.fukua777.cn" target="_blank">旧版博客</a>
    </div>
</aside>
