<aside class="app-left">
    <div class="title text-align-center font-size-22">
        <span>甫夸</span>
    </div>
    <div class="name">
        <div class="img text-align-center">
            <img src="../../../assets/img/bg.jpg" alt="">
        </div>
        <div class="desc text-align-center">
            <span>爱生活，爱足球</span>
        </div>
    </div>
    <div class="link display-flex">
        <div>
            <a class="btn text-align-center" routerLink="">
                <span>22</span>
                <span>文章</span>
            </a>
        </div>
        <div>
            <a class="btn text-align-center" routerLink="">
                <span>22</span>
                <span>分类</span>
            </a>
        </div>
        <div>
            <a class="btn text-align-center" routerLink="">
                <span>22</span>
                <span>标签</span>
            </a>                
        </div>
    </div>
</aside>
